
#box{
    background-color: pink;
    height: 350px;
    width: 600px;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1px 20px 5px 20px;
    text-align: center;

}
h1{
    color: rgb(179, 73, 179);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
} 
h2{
    color: solid black;
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#wicketButton{
    background-color: red;
    padding: 5px 20px;
    margin: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
       
}
#box1{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.btn:hover{
    background-color: rgb(196, 81, 100);
}

#wicketButton:hover{
    background-color: rgb(129, 55, 199);
}